# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# === Environments ===
.env
.env.*
.venv/
venv/
ENV/
env/

# === Databases ===
*.sqlite3
*.db

# === Docker + Logs ===
*.log
*.pid
*.tar
*.sock

# === Tests (Optional) ===
tests/*.txt
tests/test_log.txt

# === Editor + OS ===
.vscode/
.idea/
.DS_Store
Thumbs.db
